.f_container{
    display: flex;
    justify-content: center;
   
    width: 75vw;  
    max-width: 40rem;  
    justify-content: space-between;

}

#f_btn_cont {
    align-items: stretch;
    position: sticky;
    max-width: 40rem;
}

.f_btn{
    width: 100%;
    border: none;
    padding: 0.75rem 1rem 0.45rem 1rem;
    background-color: #fff; 
    text-transform: capitalize;
    font-size: 0.9rem;
    transition: all 0.3s linear;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center
}

.f_btn:hover{
    background: rgb(245, 169, 169);
}

.button_line{
    background-color: rgb(198, 37, 37);
    margin-top: 0.45rem;
    width: 2.5rem;
    height: 0.3rem;
    border-radius: 0.25rem;
}

.f_comeback{
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.f_comeback button{
    border: none;
    background: transparent;
    margin-right: 0.75rem;
}
.f_comeback i{
    color: rgb(133, 20, 20);
    font-size: 1.5rem;
    cursor: pointer;
}

